*{
    margin: 0;
    padding: 0;
}
body{
    background: #eff0f5 !important;
}
td.product-remove {width: 20px;}


.shopping-cart table.detail td {
    padding-top:  15px;
    padding-bottom:  15px;
    vertical-align: middle;
    color: #666;
    border-bottom: 1px solid #ececec;
}

.shopping-cart table.detail {
    width: 100%;
    margin-bottom: 1em;
    border-color: #ececec;
    border-spacing: 0;
    font-size: 0.8em;
    background: white;
}
td.product-thumbnail {
    width: 15%;
}

td.product-thumbnail img {
    width:  100%;
    height: auto;
}

td.product-name {
    word-break: break-word;
    text-overflow: ellipsis;
    vertical-align:  middle;
    width:  35%;
}

td.product-name a {
    text-decoration:  none;
    font-size: 1.2rem;
    color:  black;
    font-weight:  normal;
}

td.product-remove>a {
    font-size: 1.5em;
    color:  gray;
}

td.product-remove>a:hover {
    color:  black;
}
table.table.detail thead th {
    font-size:  0.9rem;
}

.cart-total-detail th {
    width:  50%;
    color:  gray;
    font-size:  0.9em;
}

.cart-total-detail td {
    width:  50%;
    text-align:  right;
}

.cart-total-detail table {
    width:  100%;
    border-bottom: 4px solid #ececec;
    border-top: 4px solid #ececec;
}

.cart-total-detail tr {
    line-height: 4em;
    border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 850px){.col-md-4.cart-total{border-left:1px solid #ececec}
span.price {
    color:  black;
    font-size:  1.3em;
    font-weight:  bold;
}
.shopping-cart .cart-total .title {
    margin:  0 !important;
    font-size:  1.3em;
    font-family:  serif;
    color:  gray;
    font-weight:  bold;
}

.shopping-cart .coupon {
    border-bottom: 4px solid #ececec;
    padding: 0 0 2em 0;
}
.col-md-5.your-order {
    padding:  2em;
    border: 2px solid #ada2a280;
    color:  gray;
}

.your-order h4.text-uppercase.title {
    font-size:  1.5em;
    font-weight:  bold;
    color: #635b5b;
    margin: 0 !important;
}

.your-order table {
    width:  100%;
}

.your-order table.detail-order tr {
    line-height: 3em;
    border-bottom: 1px solid #d6dade7a;
}

.your-order td.info-product.text-left {
    word-wrap:  break-word;
}

table.thead-order tr {
    line-height: 4em;
    border-bottom: 4px solid gainsboro;
}


.col-md-7.billing-fill {
    padding-right:  4em;
}
table.detail-order {
    border-bottom: 4px solid gainsboro;
}

span.money {
    color:  black;
    font-weight:  bold;
}

.form-check.accept-policy {
    padding-top:  1em;
    padding-bottom:  1em;
}
div#method-payment-1 {}

.method-payment-list .method {
    width: 24%;
    height:  100%;
    font-size:  0.8em;
    text-align:  center;
    margin: 0.2em 0.2em 0.2em 0;
    background-color: #f5f6f9;
    display:  inline-block;
    cursor:  pointer;
}

.method-payment-list {
    width:  100%;
}

.description-method {
    width:  100%;
    background:  white;
    padding:  2em;
}

.method-payment-list .method.active {
    background:  white;
    margin: 0.2em 0.2em 0 0;
    margin:  0;
}

.method-payment-list .title {
    word-wrap:  break-word;
}

input.finish-pay.btn.btn-success {
    font-size: 1.2em;
    max-width: 12em;
    width:  10em;
}

.description-method p {
    font-size:  0.9em;
}
.info-order .detail-order {
    padding:  2em;
    background: white;
}

.info-order .detail-order table {
    width:  100%;
}

.info-order .detail-order table tr td {
    font-size:  0.8em;
    color:  gray;
    line-height:  3em;
}

.info-order .detail-order .total-finish td.text-left {
    font-size:  1.3em;
    color: black;
}

.info-order .detail-order .total-finish td.text-right span {
    color:  red;
    font-size: 1.5em;
}
.cart-total-detail {
    background: white;
    padding:  1em;
}
.hidden {
    display:  none !important;
}